public/*
.env
node_modules/bcrypt/*
node_modules/.bin/crc32
node_modules/.bin/crc32.cmd
node_modules/.bin/crc32.ps1
node_modules/@mapbox/node-pre-gyp/node_modules/.bin/nopt
node_modules/@mapbox/node-pre-gyp/node_modules/.bin/nopt.cmd
node_modules/@mapbox/node-pre-gyp/node_modules/.bin/nopt.ps1
node_modules/@mapbox/node-pre-gyp/node_modules/.bin/semver
node_modules/@mapbox/node-pre-gyp/node_modules/.bin/semver.cmd
node_modules/@mapbox/node-pre-gyp/node_modules/.bin/semver.ps1
node_modules/make-dir/node_modules/.bin/semver
node_modules/make-dir/node_modules/.bin/semver.cmd
node_modules/make-dir/node_modules/.bin/semver.ps1
