
<title>Aether/Doc</title>
<link rel="stylesheet" type="text/css" href="looks.css">
<link rel="icon" href="favicon.ico?v=1.1">

<body class="docs">
    <nav class="read-nav doc-nav">
        <a href="/" class="read-nav-logo">                    
                <img src="https://i.ibb.co/4ZcLKjY/borderless.png" alt="">
        </a>
        <div class="read-nav-nav">
            <a href=""></a>
            <a href=""></a>
        </div>
        <a href="/login" class="read-nav-btn">
            <button></button>
        </a>
        
    </nav>

    <div class="side-doc">
        
    </div>

    <div class="doc-contain">
        <div class="doc-content">
            <div id="intro">
                <h1>Aether Docs</h1>
                <h3>here were documenting everything you need to know about our service!</h3>
            </div>
        
            <div>
                <h1>Overview</h1>
                <p>
                    a small project me and my friends made.
                    the idea came to us while waiting for drive to load.
                    the main point of this project is a fast plug in plug out service quickly save data.
                    There is no plan to release an public version of Aether because sustainig such service publicly is way to expensive
                    for a german student. The whole thing is self hosted 
                </p>
            </div>
        </div>
    </div>
    
</body>
