<head>

    <title>AetherHub</title>
    <link rel="stylesheet" type="text/css" href="looks.css">
  
  </head>
  
  
  
  <body>
      <nav class="read-nav">
          <a href="/" class="read-nav-logo">                    
                  <img src="https://i.ibb.co/4ZcLKjY/borderless.png" alt="">
          </a>
      </nav>
      <div class="bc">
  
          <div id='stars2'></div>
          <div id='stars3'></div>
      </div>
  
      <div class="down_container" >
  
        <div class="down_box" >
            
            <form action="/download" method="POST">
            <!-- <div class="box_button-wrapper"> -->
              <input type="hidden" name="link" value="<%= link %>">
              <button type="submit" class="down_box_button">Download</button>
            <!-- </div> -->
            </form>
  
            
            </div>
        </div>
        <div class="down_files">
            
        </div>
  


        <script>

         

        </script>