<head>

    <title>AetherHub</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="looks.css">
    <link rel="icon" href="favicon.ico?v=1.1">
  </head>
  
  
  
  <body>
      <nav class="read-nav">
          <a href="/" class="read-nav-logo">                    
                  <img src="https://i.ibb.co/4ZcLKjY/borderless.png" alt="">
          </a>
      </nav>
      <div class="bc">
  
          <div id='stars2'></div>
          <div id='stars3'></div>
      </div>
  
      <div class="down_container" >
  
        <div class="down_box" >
            
            <form action="/download" method="POST">
            <!-- <div class="box_button-wrapper"> -->
              <input type="hidden" name="link" value="<%= link %>">
              <button type="submit" class="down_box_button"><span>Download</span></button>
            <!-- </div> -->
            </form>
  
            
            </div>
        </div>
        <div id="outputDiv-down">
            
        </div>
  


        <script>

          const files = <%- JSON.stringify(files) %>;
          console.log(files);


          var outputDiv = document.getElementById('outputDiv-down');

          createDiv();

          files.forEach(file => {
                  console.log('Original Name:', file.originalName);
                  createDiv(file.originalName);
                });

                createDiv();
                
                


          function createDiv(text) {

              const div = document.createElement('div');
              div.classList.add('showFile-down');
              div.textContent = text;
              outputDiv.appendChild(div);

          }

        </script>