<title>AetherHub</title>
<link rel="stylesheet" type="text/css" href="looks.css">

<body>
    <nav class="read-nav">
        <a href="/" class="read-nav-logo">                    
                <img src="https://i.ibb.co/4ZcLKjY/borderless.png" alt="">
        </a>
        <div class="read-nav-nav" id="nav">
        </div>

        <a href="" class="read-nav-btn">
            <button><%= name %></button>
        </a>
    </nav>


    
    <div id="space-bar">
        <% for (let i = 0; i < spaces.length; i++) { %>
        <h2><%= spaces[i].title  %></h2>
        <% } %>
    </div>



    <script>
    </script>
</body>
