<title>Aether/Hub</title>
<link rel="stylesheet" type="text/css" href="looks.css">

<body>
    <nav class="read-nav">
        <a href="/" class="read-nav-logo">                    
                <img src="https://i.ibb.co/4ZcLKjY/borderless.png" alt="">
        </a>
        <div class="read-nav-nav" id="nav">
        </div>

        <a href="/user" class="read-nav-btn usr">
            <button><%= user.name %> <img src="<%= user.pfp %>" alt=""></button>
        </a>
    </nav>


    
    <div class="space-bar">
        <h1><%= user.name %>'s spaces</h1>
        <div>
            <% for (let i = 0; i < spaces.length; i++) { %>
                <button><%= spaces[i].title  %></button>
            <% } %>
        </div>
        <button class="addsp">Add Space</button>
    </div>



    <script>
    </script>
</body>
