<title>Aether/Hub</title>
<link rel="stylesheet" type="text/css" href="looks.css">

<body>
    <nav class="read-nav">
        <a href="/" class="read-nav-logo">                    
                <img src="https://i.ibb.co/4ZcLKjY/borderless.png" alt="">
        </a>
        <div class="read-nav-nav" id="nav">
        </div>

        <a href="/user" class="read-nav-btn usr">
            <button><%= user.name %> <img src="<%= user.pfp %>" alt=""></button>
        </a>
    </nav>


    
    <div class="space-bar">
        <h1><%= user.name %>'s spaces</h1>
        <div>
            <form action="/space" method="POST" name="space_name">
                <% if(spaces.length != null) { %>
                    <% for (let i = 0; i < spaces.length; i++) { %>
                        <input type="submit" value="<%= spaces[i].title %>" name="openSpace">
                    <% } %>
                <% } %>
            </form>
        </div>
        <input class="addsp" type="submit" value="Add Space" onclick="pfpPop()">
    </div>

    <div class="pfp-changer" id="pfpPop">
        <div class="pop-bc">
        </div>
        <div class="pop-in-bc">
        </div>
        <div class="pop-smoll-input">
            <h1>Name Your Space!</h1>
            <button class="close-pfp-changer" onclick="xpfpPop()">
                <span class="material-symbols-outlined">close</span>
            </button>
            <form action="/hub/addspace" method="POST">                   
                <input type="text" name="spacename" id="spacename">
                <button type="submit">Create</button>
            </form>
        </div>

    </div>


    <script>

        function pfpPop() {
            document.getElementById('pfpPop').style.display = 'flex';
        }

        function xpfpPop() {
            document.getElementById('pfpPop').style.display = 'none';
        }

    </script>
</body>
