
<title>Aether/Join</title>
<link rel="stylesheet" type="text/css" href="looks.css">

<body class="docs">
    <nav class="read-nav doc-nav">
        <a href="/" class="read-nav-logo">                    
                <img src="https://i.ibb.co/4ZcLKjY/borderless.png" alt="">
        </a>
        <div class="read-nav-nav">
            <a href="">About</a>
            <a href="">news</a>
        </div>
        <a href="/login" class="read-nav-btn">
            <button>Login</button>
        </a>
    </nav>

    <div class="side-doc">
        
    </div>

    <div class="doc-contain">
        <div class="doc-content">
            <div id="intro">
                <h1>How to join!</h1>
                <h3>This is a tutorial explaining how to join and everything around it</h3>
            </div>
            <div>
                <h1>First steps</h1>
                <h3>
                    we recomend to join our <a href="https://discord.gg/F5Ub35QW">discord server</a> 
                    to get more familiar with our service and our goals for the project
                </h3>
            </div>
            <div class="token-explain" id="token-explain">
                <h1>Tokens</h1>
                <h3>
                    If you already tryied to create an account you probaly saw the token input
                    <br>
                    <br>
                    the tokens are a safety and security measure for our server to avoid crashes from to many register
                    attempts and to have the full control over who gets an account because of the limited recources our service has
                    its simple to get a token: <br>
                    ether get elected after filing a short aplication on our discord server or <br>
                    donate money to the project
                </h3>
            </div>
            <div>
                <h1>Your Data</h1>
                <h3>
                    We save no personal data nor we inted to
                    the only piece of date we keep is what you post or show on your profile
                    your password is decrypted by bcrypt and stored on our server
                </h3>
            </div>
        </div>
    </div>
    
</body>
