
<title>AetherHub</title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="looks.css">
<link rel="icon" href="favicon.ico?v=1.1">

<body>
    <nav class="read-nav">
        <a href="/" class="read-nav-logo">                    
                <img src="https://i.ibb.co/4ZcLKjY/borderless.png" alt="">
        </a>
    </nav>
    <div class="bc">

        <div id='stars2'></div>
        <div id='stars3'></div>
    </div>


    <div class="login">
        <div class="login-part1">
            <div class="title-log">
                <h1 >login</h1>
            </div>
            <div class="body-log">
                <h1>Welcome back!</h1>
                <% if (messages.error) { %>
                    <%= messages.error %>
                <% } %>
                <form action="/login" method="POST" class="login-form">
                    <div>
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="text" name="password" id="password" required>
                    </div>
                    <div class="log-btn">
                        <button type="submit">Enter</button>
                    </div>
                </form>

            </div>
            <div class="switch-log">
                <p class="signup">Dont have an account? <a href="/register">Sign up</a></p>
            </div>
        </div>

        <div class="login-part2">
            <div>
                <img src="https://i.ibb.co/D8KnzYs/mfimg.png" alt="">
            </div>
        </div>
    </div>





</body>