<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<meta name="viewport" content="width=device-width" />

<title>Aether/Reg</title>
<link rel="stylesheet" type="text/css" href="looks.css">
<link rel="icon" href="favicon.ico?v=1.1">

<body>
    <nav class="read-nav">
        <a href="/" class="read-nav-logo">                    
                <img src="https://i.ibb.co/4ZcLKjY/borderless.png" alt="">
        </a>
    </nav>
    <div class="bc">

        <div id='stars2'></div>
        <div id='stars3'></div>
    </div>



    <div class="login">
        <div class="login-part1">
            <div class="title-log">
                <h1>Register</h1>
            </div>

            <div class="body-reg">
                <form action="/register" method="POST" class="register-form">
                    <div class="register">

                        <div>
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" required>
                        </div>
                        <div>
                            <label for="email">email</label>
                            <input type="text" name="email" id="email" required>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="text" name="password" id="password" required>

                        </div>
                        <div>
                            <label for="password2">Confirm</label>
                            <input type="text" name="password2" id="password2" required>
                        </div>
    
                        <div>
                            <label for="token" class="token">Token
                                <span class="tooltip">
                                    <span class="tooltiptext">You need an invite token to create an account learn more under /join</span>
                                    <span class="material-symbols-outlined">info</span>
                                </span>
                            </label>
                            <input type="text" name="token" id="token" required>
                        </div>
                        <% if (typeof regerror !== "undefined") { %>
                            <p><%= regerror %> <br><a href="/join#token-explain">learn more about it here</a></p>
                        <% } %>
                    </div>

        
                    <div class="reg-btn">
                        <button type="submit">Enter</button>
                    </div>
                </form>

            </div>
            <div class="switch-log">
                <p class="signup"><a href="/login">Been here before?</a></p>
            </div>
        </div>

        <div class="reg-part2">
            <div>
                <svg viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 7C11.5 8.10457 10.6046 9 9.5 9C8.39543 9 7.5 8.10457 7.5 7C7.5 5.89543 8.39543 5 9.5 5C10.6046 5 11.5 5.89543 11.5 7Z" stroke="#f3f6fc" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 15.5C14.5 17.433 12.261 19 9.5 19C6.739 19 4.5 17.433 4.5 15.5C4.5 13.567 6.739 12 9.5 12C12.261 12 14.5 13.567 14.5 15.5Z" stroke="#f3f6fc" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M19.25 5C19.25 4.58579 18.9142 4.25 18.5 4.25C18.0858 4.25 17.75 4.58579 17.75 5H19.25ZM17.75 7C17.75 7.41421 18.0858 7.75 18.5 7.75C18.9142 7.75 19.25 7.41421 19.25 7H17.75ZM19.25 7C19.25 6.58579 18.9142 6.25 18.5 6.25C18.0858 6.25 17.75 6.58579 17.75 7H19.25ZM17.75 9C17.75 9.41421 18.0858 9.75 18.5 9.75C18.9142 9.75 19.25 9.41421 19.25 9H17.75ZM18.5 7.75C18.9142 7.75 19.25 7.41421 19.25 7C19.25 6.58579 18.9142 6.25 18.5 6.25V7.75ZM16.5 6.25C16.0858 6.25 15.75 6.58579 15.75 7C15.75 7.41421 16.0858 7.75 16.5 7.75V6.25ZM18.5 6.25C18.0858 6.25 17.75 6.58579 17.75 7C17.75 7.41421 18.0858 7.75 18.5 7.75V6.25ZM20.5 7.75C20.9142 7.75 21.25 7.41421 21.25 7C21.25 6.58579 20.9142 6.25 20.5 6.25V7.75ZM17.75 5V7H19.25V5H17.75ZM17.75 7V9H19.25V7H17.75ZM18.5 6.25H16.5V7.75H18.5V6.25ZM18.5 7.75H20.5V6.25H18.5V7.75Z" fill="#f3f6fc"></path> </g></svg>
            </div>
        </div>
    </div>



    
</body>
