<title>Aether/Hub</title>
<link rel="stylesheet" type="text/css" href="looks.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="icon" href="favicon.ico?v=1.1">

<body>
    <nav class="read-nav">
        <a href="/" class="read-nav-logo">                    
                <img src="https://i.ibb.co/4ZcLKjY/borderless.png" alt="">
        </a>
        <div class="read-nav-nav" id="nav">
            <a class="/"></a>
        </div>

        <a href="/logout" class="read-nav-btn logout">
            <button>logout</button>
        </a>
    </nav>

    <div class="user-body">

        <div>
            <button class="pfp-edit" onclick="pfpPop()">
                <div>
                    <span class="material-symbols-outlined">edit</span>
                </div>
                <img src="<%= user.pfp %>" alt="">
            </button>
            <h1><%= user.name %></h1>
        </div>

        <div class="disc-cont">
            <form action="/user/disc" method="POST">
                <div class="disc-change">
                    <label for="disc">Your Discription</label>
                    <input type="text" name="disc" id="disc" placeholder="<%= user.disc %>">
                </div>
                <button type="submit">Change Discription</button>
            </form>

        </div>









    </div>
    
    <div class="pfp-changer" id="pfpPop">
        <div class="pop-bc">
        </div>
        <div class="pop-input">
            <h1>Change your Picture</h1>
            <button class="close-pfp-changer" onclick="xpfpPop()">
                <span class="material-symbols-outlined">close</span>
            </button>
            <img src="<%= user.pfp %>" alt="">
            <form action="/user/pfp" method="POST">
                <div>
                    <label for="newpfp">Enter your picture url                             
                        <span class="tooltip">
                            <span class="tooltiptext">Upload your picture on a img hosting server and copy/paste the direct link in here</span>
                            <span class="material-symbols-outlined smoll">info</span>
                        </span>:
                    </label>
                    <input type="text" name="newpfp" id="newpfp" required>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>

    <script>

        function pfpPop() {
            document.getElementById('pfpPop').style.display = 'flex';
        }

        function xpfpPop() {
            document.getElementById('pfpPop').style.display = 'none';
        }


    </script>
</body>
